<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" >
                <meta name="blogcatalog" content="9BC10861098" />
		<meta name="description" content="南京朱梅律师，致力于承办婚姻继承、劳动纠纷、刑事辩护、法律法规等各类案件。立志成为南京最好律师。" />
		<meta name="keywords", content="南京好律师，南京律师，朱梅律师，南京维权律师，婚姻继承，劳动纠纷，刑事辩护，法律法规，在线咨询" />
    <title>朱梅律师 | {{ page.title }}</title>
		<link rel="shortcut icon" href="/images/logo.jpg">
	  <link rel="stylesheet" href="/stylesheet/style.css" type="text/css" media="screen" />
		<script type="text/javascript" src="/js/jquery.js"></script>
		<script type="text/javascript" src="/js/easySlider1.7.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){	
					$("#slider").easySlider({
							auto: true, 
							continuous: true
		  });
		});	
		</script>
	  <style>
#banner {
width: 870px;
height: 184px;
margin: 0 auto;
padding: 0;
}
#q {
margin-left:30px;
border: none;
width: 222px;
height: 26px;
background-color: rgba(0, 0, 0, 0);
font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
font-size: 12px;
line-height: 16px;
outline: none;
}
    </style>
  </head>

  <body>
    <div id="wrapper">

     <div id="header">
     </div> <!-- end #header -->

     <div id="menu">
     <ul>
     <li class="page_item {% if page.current == 'index' %} current_page_item {% endif %} "><a href="/" title="首页"><span>首页</span></a></li>
     <li class="page_item {% if page.current == 'hyjc' %} current_page_item {% endif %} "><a href="/hyjc.html" title="婚姻继承"><span>婚姻继承</span></a></li>
     <li class="page_item {% if page.current == 'ldjf' %} current_page_item {% endif %}"><a href="/ldjf.html" title="劳动纠纷"><span>劳动纠纷</span></a></li>
     <li class="page_item {% if page.current == 'xsbh' %} current_page_item {% endif %}"><a href="/xsbh.html" title="刑事辩护"><span>刑事辩护</span></a></li>
     <li class="page_item {% if page.current == 'flfg' %} current_page_item {% endif %}"><a href="/flfg.html" title="法律法规"><span>法律法规</span></a></li>
     <li class="page_item {% if page.current == 'zxzx' %} current_page_item {% endif %}"><a href="/zxzx.html" title="在线咨询"><span>在线咨询</span></a></li>
     <li class="page_item {% if page.current == 'gyw' %} current_page_item {% endif %}"><a href="/gyw.html" title="关于我"><span>关于我</span></a></li>
     <li class="page_item {% if page.current == 'cylj' %} current_page_item {% endif %}"><a href="/cylj.html" title="常用链接"><span>常用链接</span></a></li>

		 <form onsubmit="return dispatch()"><div style="margin-left:25px; margin-top:20px;width: 132px; height: 28px; background-size: 276px 28px; background-image: url('/images/qbar_light@2x.png'); background-repeat: no-repeat; display: inline-block;"><input margin-left:30px;type="text" maxlength="40" name="q" id="q" value=""/></div></form>
     </ul>
		 <!-- ----------------- -->
  <script type="text/javascript">
  var dispatch = function(){
  		q = document.getElementById("q");
  		if(q.value != ""){
  				window.open('http://www.google.com/search?q=site:zhumeilawyer.com/%20' + q.value, "_blank");
  				return false;
  		} else {
  				return false;
  		}
  }

  </script>
  <div id="search">
  
  </div>
		 <!-- ----------------- -->
     </div> <!-- end #menu -->

		 <div id="page">
			{% if page.current == 'index' %}
			<div id="banner">
		<div id="slider">
	 <ul>				
 <li><a href="/"><img src="/images/index.jpg" alt="" title="首页"/></a></li>
	<li><a href="/hyjc.html"><img src="/images/hyjc.jpg" alt="" title="婚姻继承"/></a></li>
	<li><a href="ldjf.html"><img src="/images/ldjf.jpg" alt="" title="劳动纠纷"/></a></li>
	<li><a href="/xsbh.html"><img src="/images/xsbh.jpg" alt="" title="刑事辩护"/></a></li>
	<li><a href="/flgfg.html"><img src="/images/flfg.jpg" alt="" title="法律法规"/></a></li>
	<li><a href="/zxzx.html"><img src="/images/zxzx.jpg" alt="" title="在线咨询"/></a></li>
	<li><a href="/gyw.html"><img src="/images/gyw.jpg" alt="" title="关于我"/></a></li>
	<li><a href="/cylj.html"><img src="/images/cylj.jpg" alt="" title="常用链接"/></a></li>
																																											</ul>
	</div>
																																									</div>
			{% elsif page.current == 'hyjc' %}
				<div id="banner" style="background: url(/images/hyjc.jpg) no-repeat left top;">&nbsp;</div>
			{% elsif page.current == 'ldjf' %}
				<div id="banner" style="background: url(/images/ldjf.jpg) no-repeat left top;">&nbsp;</div>
			{% elsif page.current == 'xsbh' %}
				 <div id="banner" style="background: url(/images/xsbh.jpg) no-repeat left top;">&nbsp;</div>
			{% elsif page.current == 'flfg' %}
				 <div id="banner" style="background: url(/images/flfg.jpg) no-repeat left top;">&nbsp;</div>
			{% elsif page.current == 'zxzx' %}
				 <div id="banner" style="background: url(/images/zxzx.jpg) no-repeat left top;">&nbsp;</div>
			{% elsif page.current == 'gyw' %}
				 <div id="banner" style="background: url(/images/gyw.jpg) no-repeat left top;">&nbsp;</div>
			{% elsif page.current == 'cylj' %}
				 <div id="banner" style="background: url(/images/cylj.jpg) no-repeat left top;">&nbsp;</div>
		 {% endif %}
	   <div id="sidebar">
       <ul>
				<li>执业证号：13201201111809603</li>
				<li>执业机构：江苏钟山明镜律师事务所</li>
				<li>联系地址：汉中门大街301号</li>
				<li>办公电话：13851763164</li>
				<li>邮箱：<a href="mailto:zhumeilawyer@163.com">zhumeilawyer@163.com</a></li>
       </ul>
		 </div> <!-- end #sidebar -->

	   {{ content }}


		 <div style="clear: both;">&nbsp;</div>
     </div> <!-- end #page -->

  	 <div id="footer">Copyright &copy; 2014 zhumeilawyer.com | Code by <a href="http://jiych.github.io/" title="jiych">jiych</a></div>
  </div> <!-- end #wrapper -->

	<script>
	  document.getElementById('header').innerHTML = '<span style="padding-top:28px;float:right;font-family:arial,sans-serif;color:#FFFFFF;font-size:15px;"><span style="font-size:20px">免费咨询电话</span><br />13851763164<br/></span>';
	</script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-48514445-1', 'zhumeilawyer.com');
	  ga('send', 'pageview');

    </script>
</body>
</html>
