<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" >
    <title>ZZZ | {{ page.title }}</title>
	<link rel="stylesheet" href="http://legalwebpro.s3.amazonaws.com/lwp/10/blue/style.css" type="text/css" media="screen" />
    <script src="/javascripts/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/jquery.github.js" type="text/javascript" charset="utf-8"></script>
  </head>

  <body>
  <div align="center">
  <div id="wrap">

  <div id="header">
  <div id="title">
  <h1><a href="{{ site.url }}">Law Offices of ZM</a></h1>
  <div class="description">Description XXX</div>
  </div>
  <div id="pagenav">
  <ul>
  <li class="page_item page-item-1 current_page_item"><a href="{{ site.url }}" title="Home"><span>Home</span></a></li>
  <li class="page_item page-item-2"><a href="{{ site.url }}/contact.html" title="Family Law Basics"><span>Family Law Basics</span></a></li>
  <li class="page_item page-item-3"><a href="{{ site.url }}/contact.html" title="Practice Areas"><span>Practice Areas</span></a></li>
  <li class="page_item page-item-4"><a href="{{ site.url }}/contact.html" title="Professional Profile"><span>Professional Profile</span></a></li>
  <li class="page_item page-item-5"><a href="{{ site.url }}/news.html" title="News"><span>News</span></a></li>
  <li class="page_item page-item-6"><a href="{{ site.url }}/contact.html" title="Contact"><span>Contact</span></a></li>
  </ul>
  </div>
  <div class="clear"></div>
  </div><!-- end of header -->

  <div id="content">
  <div class="post">
	{{ content }}
  </div>
  </div>
  <div class="clear"></div>
  <div id="footer">Copyright &copy; 2014 zhumeilawyer.com | Code by <a href="http://jiych.guru.io/" title="jiych">jiych</a></div>
  </div><!-- end of wrap -->
  </div><!-- end of center -->
</html>
